:root {
    --primaryColor: rgb(40, 106, 247);
    --mainWhite: #ffffff;
    --mainGrey: #ececec;
    --mainBlack: #000000;
    --color-primary: #263238;
    --color-secondary: darkgrey;
  
    --color-second: #5EC6FF;
    --mainSpacing: 0.1rem;
    --mainTransition: all .5s ease;
    }
  
  
  .shared-article-page{
    width: 80%;
    height:auto;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .shared-form{
    position: relative;
    z-index: 1;
    background: rgb(252, 250, 250);
    width: auto;
    height: auto;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-sizing: border-box;	
    float:left;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
  
  }
  .shared-form img{
    width: 100%;
    height: 400px;
    border-radius: 10px;
  }
  .shared-form input{
    letter-spacing: var(--mainSpacing); 
    background: var(--mainWhite);
    width: 100%;
    margin: 0 0 20px;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #e1e1e1;
    outline: 0;
    border-radius: 10px;
   
  }
  
  .info-card .btncomment{
    background: var(--mainGrey);
    width: 100px;
    height: 30px;
    padding: 10px;
    color: var(--mainWhite);
    letter-spacing: var(--mainSpacing); 
    border-radius: 20px;
    margin-top: -25px;
    margin-left: 5px;
    float: left;
  }
  .btncomment a{
    margin-left: -15px;
    margin-top: 10px;
    float: left;
  }
  
  .btncomment a b{
    margin-left: 4px;
    margin-top: -10px;
    float: right;
    color: var(--primaryColor);
    font-size: 14px;
  }
  .btncomment a b:hover{
     color: red;
  }
  
  .info-card .btnlike{
    background: var(--mainGrey);
    width: 100px;
    height: 30px;
    padding: 10px;
    color: var(--mainWhite);
    letter-spacing: var(--mainSpacing); 
    border-radius: 20px;
    margin-top: -25px;
    float: left;
  }
  
  
  .btnlike a{
   margin-left: -15px;
    margin-top: 10px;
    float: left;
  }
  
  .btnlike a b{
    margin-left: 4px;
    margin-top: -10px;
    color: var(--primaryColor);
    font-size: 14px;
    float: left;
     
  }
  .btnlike b:hover{
    
     color: red;
  }
  .info-card .more{
      border-bottom:1px solid #e1e1e1;
      height: 35px;
      
  } 
  
  /* a{
    text-decoration: none;
    color: var(--mainBlack);
  } */
  
  .info-card  {
    height: auto;					
    box-sizing: border-box;	
    padding: 10px 10px;
    width: 100%;
    text-align: center; 
    border: 1px solid #e1e1e1;
    padding: 10px 10px;
    background: var(--mainWhite);
    margin-top: 10px;
  
  }
  .info-card h4 {
    text-transform: uppercase;
    color: var(--primaryColor);
    letter-spacing: var(--mainSpacing); 
  
  }
  .info-card p{
      text-align: left;
      letter-spacing: var(--mainSpacing); 
      border-bottom: 1px solid #e1e1e1;
  }
  
  .info-card .author {
    color: var(--color-secondary);
    margin-left: 0;
    margin-bottom: 0px;
    margin-top:10px;
    letter-spacing: var(--mainSpacing); 
  }
  
  .info-card .author .date{
    color: var(--color-secondary);
    letter-spacing: var(--mainSpacing); 
  
  }
  
  .info-card img.icon{
    margin-left: 20px;
    width:16px;
    height: 16px;
    opacity: 0.6;
    float: left;
    margin-top: -13px;
  }
  
  .info-card img .icon:hover{
    opacity: 1;
  }
  @media only screen and (min-width: 300px) and (max-width: 1200px){
    .shared-article-page{
      width:100%;
      margin-bottom: 0px;
      padding: 10px;
      margin-top: 5px;
     
    }
    .shared-form{
      width: 100%;
      padding: 10px;
      margin-bottom: 5px; 
    }
    .shared-form button{
      width:100%;
      margin-bottom: 0px;
    }
    .info-card{
      width:100%;
      height: auto;
    }
    .info-card .author {
      margin: auto; 
      margin-bottom: 10px;
      margin-top: 10px;
      
    }
    
    .info-card .author .date{
    margin: auto;
    text-align: center;
    }
    .info-card img.icon{
    height: 20px;
     width: 20px;
     padding-top: 5px;
     padding-bottom: 5px;
     width: 100%;
     margin-top: -8px;
     margin-bottom: auto;
    }
  
  }
  
  
  
  