:root {
  --primaryColor: rgb(40, 106, 247);
  --mainWhite: #ffffff;
  --mainGrey: #ececec;
  --mainBlack: #000000;
  --color-primary: #263238;
  --color-secondary: darkgrey;

  --color-second: #5EC6FF;
  --mainSpacing: 0.1rem;
  --mainTransition: all .5s ease;
  }


  * {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
font-family: 'Crimson Text';
font-size: 20px;
}

nav {
height: 10vh;
width: 100%;
background: var(--mainWhite);
z-index: 2;
box-shadow: 0 7px 12px 0 rgba(62,57,107,.16);
}
.logo {
  position: absolute;
  float: left;
  margin-left: 50px;
}
.logo img {
 width: 30%;
height: 60px;
float: left; 
}

.nav-links {
display: flex;
list-style: none;
width: 40%;
height: 100%;
justify-content: space-around;
align-items: center;
margin-left: auto; 
}

.nav-links li a {
color: var(--mainBlack);
text-decoration: none;
font-size: 20px;
}
.nav-links li a:hover{
opacity: 0.5;
}
.nav-links .active{
  color:var(--primaryColor);
}

@media screen and (max-width: 700px) {
.line {
  width: 30px;
  height: 3px;
  background: var(--primaryColor);
  margin: 5px;
}
nav {
  position: relative;
}

.hamburger {
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
  z-index: 2;
  
}

.nav-links {
  position: fixed;
  background: var(--mainWhite);
  height: 100vh;
  width: 100%;
  flex-direction: column;
  clip-path: circle(100px at 90% -10%);
  -webkit-clip-path: circle(100px at 90% -10%);
  transition: all 1s ease-out;
  pointer-events: none;
}
.nav-links.open {
  clip-path: circle(1000px at 90% -10%);
  -webkit-clip-path: circle(1000px at 90% -10%);
  pointer-events: all;
}
.landing {
  flex-direction: column;
}
.nav-links li {
  opacity: 0;
}
.nav-links li a {
  font-size: 25px;
}

li.fade {
  opacity: 1;
}
.logo{
  display: none;
}

}


