*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
  }
  body{
     background-color: #f3f5f9;
  }
   a{
      text-decoration: none;
    }

    header{
        height: 60px;
        background:#fff;
        display: flex;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        top: 0;
        z-index: 3;
        box-shadow: 0 7px 12px 0 rgba(62,57,107,.16);
      }
      header .logo a img{
        width: 30%;
       height: 50px;
       float: left; 
       margin-bottom: 10px;
       }
       header .logo p{
         color: #594f8d;
         float: right;
         margin-top: 20px;
       }
       
       ul {
         list-style: none;
       }
       
       #menu{
         margin: 0px; 
         color: #fff;
         text-align: center;
         align-content: center;
         width: 80px;
         height: 50px;
         margin-right: 5px;
         border-radius: 50%;
       }
       #menu img{
         
         width: 50px;
         height: 50px;
         align-content: center;
          margin-right: 5px;
         border-radius: 50%;
         
       }
       
       .menu-ctn #menu ul{
         text-align: center;
         width: 100%;
       }
       
       .menu-ctn > li{
         text-align: center;
         display: inline-block;
         transition: all 0.8s ease; 
         position: relative;
       }
       .menu-ctn li:hover{
         cursor: pointer;
         opacity: 0.8;
       }
       #dropdown {
         background: #594f8d;
         color: #fff;
         display: none;
         position: absolute;
         width: 100%;
         z-index: 3;
         text-align: center;
         left: 5px;
         top: 70%;
         margin-top: 20px;
       }
       #dropdown li{
         margin: 0;
         width: 100%;
         padding: 5px 0px 5px 0px;
       }
       #dropdown li:hover{
         color: #bdb8d7;
          background: #4b4276;
       
       }
       #dropdown.active{
         display: block;
       }
       
       
       #sidebar {
         background: #594f8d;
         width: 12.500em;
         min-height: 617px;
         display: block;
         position: fixed;
         left: 0em;
         top: 60px;
         transition: left 0.3s linear;
         z-index: 5;
       }
       #sidebar.visible {
         left: 0.000em;
       }
       nav {
         text-align: center;
       }
       ul {
         margin: 0.000em;
         padding: 0.000em;
       }
       
       ul li {
         list-style: none;
       }
       
       ul li a {
         color: #fff;
         text-align: left;
         display: block;
         width: 11.250em;
         padding: 0.625em;
         border-bottom: 2px solid rgba(255,255,255,0.05);
       }
       
       ul li a:hover {
         color: #bdb8d7;
          background: #4b4276;
       }
       ul p{
         float: left;
         margin-top: 30px;
         color: #fff;
         margin-left: 10px;
       }
       
       #sidebar-btn {
         vertical-align: middle;
         width: 1.563em;
         height: 1.250em;
         cursor: pointer;
         margin: 1.250em;
         position: absolute;
         top: 0em;
         right: -3.750em;
         display: none;
       }
       
       #sidebar-btn span {
         height: 0.063em;
         background: #282828;
         margin-bottom: 0.313em;
         display: block;
       }
       
       .container{
           margin-left:200px; 
           margin-top: 50px;
         padding: 20px;
       }
       
       @media screen and (max-width: 700px){
       
           #sidebar-btn{
             display: inline-block;
           }
       
           #sidebar{
               left: -11.47em;
           } 
       
         .container {
             margin-left:30px; 
             margin-top: 50px;
             padding: 20px;
          }
       
          #sidebar {
              z-index: 5;
             width: 11.500em;
             height: 100vh;
             display: block;
             top: 60.2px;
             transition: left 0.3s linear;
           }
       
         ul li a {
           display: block;
           width: 10.250em;
           padding: 0.625em;
           text-decoration: none;
         }  
       
       }
       
       
       