@media only screen and (max-width: 660px) {

.frontend{
width: 100%;
margin-left: 2px;
margin-top: 10px;
margin-right: 2px;

}
.backend{
width: 100%;
margin-left: 2px;
margin-top: 10px;
margin-right: 2px;
}
.database{
width: 100%;
margin-left: 2px;
margin-top: 10px;
margin-right: 2px;
}
.others{
width: 100%;
margin-bottom: 10px;
margin-left: 2px;
margin-top: 10px;
margin-right: 2px;
}
.wrapper .sidebar{
  width: 100%;
  height: auto;
 
}
/* .how-it-works{
  width: 100%;
  margin-right: 0px;    
}
.step{
  width: 99%;
  margin: auto;
  margin-bottom: 10px; 
  height: auto; 
} */



}
@media only screen and (min-width: 660px) and (max-width: 1200px){
.myskills{
height: auto;

}
.frontend{
width: 48%;
float: left;
margin-top: 20px;
margin-right: 0px;
margin-left: 0px;


}
.backend{
width: 48%;

margin-top: 20px;

float: right;
margin-right: 0px;
margin-left: 0px;
}
.database{
width: 48%;

margin-top: 20px;

float: left;
margin-right: 0px;
margin-left: 0px;
margin-bottom: 20px;
}
.others{
width: 48%;
margin-bottom: 20px;

margin-top: 20px;

float: right;
margin-right: 0px;
margin-left: 0px;
}


}